roboticstoolbox-python
opencv-python
scipy
matplotlib
Pillow
tqdm
numpy==1.26.4
loguru
omegaconf
hydra-core>=1.3.0
multipledispatch
pyarrow>=14.0.0
datasets
huggingface-hub
jsonlines
trimesh
typing-extensions
tensorflow
tensorflow-datasets
debugpy
decord
pycollada
imageio[ffmpeg]
